body {
	--radius-s: 3px;
	--radius-m: 5px;
	--radius-l: 7px;
	--input-radius: 5px;
	--tab-radius-active: 5px 5px 0 0;
	--checkbox-radius: 5px;
	--toggle-radius: 50px;
	--toggle-thumb-radius: 50%;
	--slider-thumb-radius: 50%;
}

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
